@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #370617;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #F48C06;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header a {
    text-decoration: none;
}

.name-graphic {
    background-color: #6A040F;
    color: #F48C06;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 20px rgb(255, 0, 0);
}

.name-graphic h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

.name-graphic:hover {
    background-color: #E9D8A6;
    color: #6A040F;
    transform: scale(1.05);
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.2s;
}

nav a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    background-color: #370617;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

nav a:hover::after, nav a.active::after {
    transform: scaleX(1);
    color: #370617;
}

nav a:active {
    color: #370617;
}

.home-content img {
    width: 400px;
    max-width: 100%;
    border: 2px solid #F48C06;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 250px;
    margin-bottom: 50px;
    float: right;
}

.home-content h1{
    width: 900px;
    position: static;
    display: flex;
    font-size: 64px;
    font-weight: 600;
    margin-top: 100px;
    margin-left: 100px;
    padding: 25px;    
}

.home-content h3 {
    display: flex;
    font-size: 30px;
    font-weight: 500;
    margin-left: 100px;
    padding: 25px;
}

.home-content p {
    display: flex;
    height: 200px;
    width: 900px;
    font-size: 22.5px;
    margin-left: 50px;
    margin-left: 100px;
    padding: 25px;
}

.social-icons {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 100px;
    padding-left: 25px;
}

.social-icons a {
    color: #F48C06;
    font-size: 30px;
    transition: transform 0.5s, color 0.5s;
}

.social-icons a:hover {
    color: #E85D04;
    transform: scale(1.5);
}

.downloadBtn {
    display: inline-block;
    margin-top: 50px;
    margin-left: 120px;
    padding: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #6A040F;
    background-color: #F48C06;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 4px 4px 20px rgba(232, 93, 4, 1);
}

.downloadBtn:hover {
    background-color: #6A040F;
    color: #F48C06;
    transform: scale(1.05);
}

.contact-footer {
    background-color: #370617;
    color: white;
    text-align: center;
    padding: 50px 20px;
    margin-top: 50px;
}

.contact-footer h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #E9D8A6;
}

.contact-footer p {
    font-size: 20px;
    margin: 10px 0;
}

.contact-info p {
    margin: 5px 0;
    font-size: 18px;
}

.footer-bottom-text {
    margin-top: 30px;
    font-size: 14px;
    color: #E9D8A6;
}

.contact-footer {
    background-color: #F48C06;
    color: white;
    text-align: center;
    padding: 50px 20px 50px 20px;
    
}

.contact-footer h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #DC2F02;
}

.contact-footer p {
    font-size: 25px;
    margin: 10px 0;
}

.contact-info p {
    margin: 5px 0;
    font-size: 20px;
}

.footer-social-icons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-social-icons a {
    font-size: 24px;
    color: white;
    transition: color 0.3s, transform 0.3s;
}

.footer-social-icons a:hover {
    color: #fca311;
    transform: scale(1.2);
}

.footer-bottom-text {
    margin-top: 30px;
    font-size: 14px;
    color: #6A040F;
}